<div class="box box-primary">
    <form role="form">
    <div class="box-body">
        <div class="form-group">
            <label >Tên lý do</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
              <label >Ghi chú</label>
              <textarea class="form-control" rows="5" placeholder="Enter ..."></textarea>
            </div>

    </div>
    </form>
    <div class="box-footer">
        <button type="submit" class="btn btn-default pull-right" style="margin-left: 10px">Hủy</button>
      <button type="submit" class="btn btn-primary pull-right" >Thêm mới</button>

    </div>
</div>
