<div class="box box-primary">
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label >Ngày</label>
                <input type="text" class="form-control input-sm">
              </div>
              <div class="form-group">
                  <label >Mã Phiếu</label>
                  <input type="text" class="form-control input-sm">
                </div>
                <div class="form-group">
                    <label>Phân loại</label>
                    <select class="form-control">
                      <option>Phiếu thu</option>
                      <option>Phiếu chi</option>
                    </select>
                  </div>
                  <div class="form-group">
                      <label >Lý do thu</label>
                      <input type="text" class="form-control input-sm">
                    </div>
                    <div class="form-group">
                        <label >Tổng tiền</label>
                        <input type="text" class="form-control input-sm">
                      </div>
          </div>
          </form>
          <div class="box-footer">
              <button type="submit" class="btn btn-default pull-right" style="margin-left: 10px">Hủy</button>
            <button type="submit" class="btn btn-primary pull-right" >Thêm & In</button>

          </div>
          </div>
