<div class="row">
  <div class="col-lg-5">
      <div class="box box-primary">
          <form role="form">
              <div class="box-body">
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label >Diễn giải</label>
                          <input type="text" class="form-control input-sm">
                        </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label>Ghi Chú</label>
                          <input type="text" class="form-control input-sm">
                        </div>
                  </div>
                </div>

                        <div class="row">
                            <div class="col-sm-6" style="padding-right: 5px">
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" placeholder="Mã hoặc tên">
                                  </div>
                            </div>

                            <div class="col-sm-4" style="padding-right: 5px;padding-left: 5px">
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" placeholder="Đơn vị tính">
                                  </div>
                              </div>
                              <div class="col-sm-2" style="padding-left: 5px">
                                  <button type="submit" class="btn btn-primary pull-left">Thêm mới</button>
                                </div>
                          </div>
                          <eui-datagrid [data]="data" style="height:250px">
                              <eui-grid-column field="id" title="Mã hàng"></eui-grid-column>
                              <eui-grid-column field="ten" title="Tên hàng"></eui-grid-column>
                              <eui-grid-column field="don_vi_tinh" title="Đơn vị tính" align="right"></eui-grid-column>
                          </eui-datagrid>
              </div>
                  </form>

        </div>
        </div>
        <div class="col-lg-7">
            <div class="box box-primary">
                <form role="form">
                    <div class="box-body">
                      <div class="row">
                          <div class="col-sm-3" style="padding-right: 5px">
                              <div class="form-group">
                                  <label >Ngày</label>
                                  <input type="text" class="form-control" placeholder="8/8/2019">
                                </div>
                          </div>
                          <div class="col-sm-3" style="padding-right: 5px;padding-left: 5px">
                              <div class="form-group">
                                  <label >Phiếu Nhập Kho</label>
                                  <input type="text" class="form-control" placeholder="KK0001">
                                </div>
                          </div>
                          <div class="col-sm-4" style="padding-right: 5px;padding-left: 5px">
                              <div class="form-group">
                                  <label >Kho </label>
                                  <input type="text" class="form-control" placeholder="Kho 1">
                                </div>
                          </div>
                          <div class="col-sm-2" style="padding-left: 5px">
                              <button mat-icon-button class="pull-right" style="margin-top: 21px"><mat-icon>add</mat-icon></button>
                          </div>
                        </div>
                        <eui-datagrid [data]="data1" style="height:60vh;" [columnResizing]="true">
                            <eui-grid-column field="id" title="Mã" width="100"></eui-grid-column>
                            <eui-grid-column field="ten_hang" title="Tên Hàng" width="200"></eui-grid-column>
                            <eui-grid-column field="don_vi_tinh" title="DVT" align="right" width="100"></eui-grid-column>
                            <eui-grid-column field="so_luong_ht" title="SL Hệ thống" align="right" width="100"></eui-grid-column>
                            <eui-grid-column field="so_luong_tt" title="SL Thực tế" width="100"></eui-grid-column>
                            <eui-grid-column field="dieu_chinh_xuat" title="Điều chỉnh xuất" align="center" width="100"></eui-grid-column>
                            <eui-grid-column field="dieu_chinh_nhap" title="Điều chỉnh nhập" align="center"width="100"></eui-grid-column>
                            <eui-grid-column width=50>
                              <ng-template euiCellTemplate let-row>
                                  <div>
                                      <button mat-icon-button> <mat-icon>delete</mat-icon> </button>
                                    </div>
                              </ng-template>
                            </eui-grid-column>
                          </eui-datagrid>
                      </div>
                        </form>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
              <button type="submit" class="btn btn-default pull-right" style="margin-left:10px">Hủy</button>
              <button type="submit" class="btn btn-primary pull-right">Thêm</button>
          </div>


      </div>
