<div class="container">
  <div class="row">
    <div class="col-md-12 offset-xl-0">
      <div class="login-card" style="/*width: 393px;*/"><img src="assets/img/avatar_2x.png" class="profile-img-card">
        <p class="profile-name-card">ĐĂNG NHẬP VÀO QUẢN TRỊ</p>
        <form class="form-signin"><span class="reauth-email"> </span><input class="form-control" type="email"
            required="" placeholder="Tên đăng nhập/Email" autofocus="" id="inputEmail"><input class="form-control"
            type="password" required="" placeholder="Mật Khẩu" id="inputPassword">
          <div class="bt-checkbox">
            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-9"><label
                class="form-check-label" for="formCheck-9">Ghi nhớ đăng nhập</label></div>
          </div><button class="btn btn-primary btn-block btn-lg btn-signin" type="submit"
            style="background-color: rgb(32,141,186);" (click)="login()">Đăng nhập</button>
        </form><a href="#" class="forgot-password">Quên mật khẩu</a>

      </div>
    </div>
  </div>
</div>
