
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <!-- Main content -->
      <section class="content">
          <div class="row">
              <div class="col-lg-6">
                  <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Menu</h3>
                        <button mat-icon-button (click)="them_moi.open()">
                            <mat-icon>add</mat-icon>
                          </button>
                    </div>
                    <div class="box-body">
                          <eui-treegrid style="height:75vh"
                          [data]="data" [checkbox]="true" idField="id" treeField="name">
                      <eui-grid-column field="name" title="Tên" width="300"></eui-grid-column>
                      <eui-grid-column field="thu_tu" title="Thứ tự" width="60"></eui-grid-column>
                      <eui-grid-column  title="Thao tác" width="150">
                          <ng-template euiCellTemplate let-row>
                            <div class="thao-tac">
                              <a href="javascript:"  > <mat-icon>add</mat-icon> </a>&nbsp;&nbsp;&nbsp;
                              <a href="javascript:" > <mat-icon>edit</mat-icon> </a>&nbsp;&nbsp;&nbsp;
                              <a href="javascript:"  class="delete"> <mat-icon>delete</mat-icon> </a>
                            </div>
                          </ng-template>
                        </eui-grid-column>
                     </eui-treegrid>
                </div>
                    </div>
              </div>
              <div class="col-lg-6">
                  <div class="box box-primary">
                      <div class="box-header with-border">
                          <h3 class="box-title">ToolBar</h3>
                          <button mat-icon-button>
                              <mat-icon>add</mat-icon>
                            </button>
                      </div>

                      </div>
              </div>
                </div>

      </section>
    </div>

  <eui-dialog #them_moi
          [panelStyle]="{width:'60vw', height:'90vh'}"
          panelCls="mydlg"
          headerCls="mydlg-header"
          footerCls="mydlg-footer"
          [modal]="true"
          borderType="none"
          [resizable]="true"
          [draggable]="true"
          [closed] = "true"
>
<eui-panel-header>Thêm chức năng mới</eui-panel-header>
<div class="content">
    <app-them-moi-chuc-nang #them (dong)="them_moi.close()"></app-them-moi-chuc-nang>
</div>
<!-- <eui-dialog-footer>
    <div fxLayout="row" fxLayoutAlign="end start">
      <div fxFlex="0 1 auto" class="title-button" class="margin">
        <button mat-raised-button color="primary"
                > Thêm mới</button>
        <button mat-raised-button>Làm Mới</button>
      </div>
    </div>
  </eui-dialog-footer> -->
</eui-dialog>
