<div class="box box-primary">
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form">
    <div class="box-body">
      <div class="row">
        <div class = "col-md-3">
            <div class="form-group">
                <label >Mã doanh nghiệp</label>
                <input type="text" class="form-control">
              </div>
            <div class="box-profile">
                <h3 class="profile-username text-left">Logo</h3>
                <img class="profile-user-img img-responsive img-circle" src="/assets/dist/img/user4-128x128.jpg" alt="User profile picture">
                <input type="file" style="margin-top: 10px">
                </div>
                <div class="form-group" style="margin-top: 10px">
                    <label >Lời chào</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                      <label >Màu chủ đạo</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Hiển thị Menu</label>
                        <select class="form-control">
                          <option>Menu dọc</option>
                          <option>Menu ngang</option>
                        </select>
                      </div>
        </div>
        <div class = "col-md-9">
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label >Tên doanh nghiệp</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                      <label >Tên viết tắt</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label >Điện thoại</label>
                        <input type="text" class="form-control">
                      </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label >Tên giao dịch</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                      <label >Mã số thuế</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label >Fax</label>
                        <input type="text" class="form-control">
                      </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label >Số nhà</label>
                    <input type="text" class="form-control" >
                  </div>
                  <div class="form-group">
                      <label>Địa chỉ</label>
                      <select class="form-control">
                        <option>Hà nội</option>
                        <option>Hồ Chí Minh</option>
                      </select>
                  </div>
                    <div class="form-group">
                        <label >Ghi chú</label>
                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                      </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-default pull-right" style="margin-left:10px" (click)="vote()">Hủy</button>
      <button type="submit" class="btn btn-primary pull-right">Thêm mới</button>

    </div>
  </form>
</div>

