<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
      <div class="box-body">
        <div class="row">
          <div class = "col-md-3">
              <div class="form-group">
                  <label >Mã nhân viên</label>
                  <input type="text" class="form-control">
                </div>
              <div class="box-profile">
                  <h3 class="profile-username text-left">Avartar</h3>
                  <img class="profile-user-img img-responsive img-circle" src="/assets/dist/img/user4-128x128.jpg" alt="User profile picture">
                  <div style="margin-top: 10px">
                      <input type="file">
                  </div>
                  </div>
                      <div class="form-group" style="margin-top: 10px">
                          <label>Tình trạng</label>
                          <select class="form-control">
                            <option>Đang hoạt động</option>
                            <option>Đã nghỉ việc</option>
                          </select>
                        </div>
          </div>
          <div class = "col-md-9">
            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label >Họ tên</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Giới tính</label>
                        <select class="form-control">
                          <option>Nam</option>
                          <option>Nữ</option>
                        </select>
                      </div>
                      <div class="form-group">
                          <label >Điện thoại</label>
                          <input type="text" class="form-control">
                        </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label>Thuộc nhóm</label>
                      <select class="form-control">
                        <option>Nhóm 1</option>
                        <option>Nhóm 2</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label >Ngày sinh</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label >Email</label>
                          <input type="text" class="form-control">
                        </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label >Số nhà</label>
                      <input type="text" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <select class="form-control">
                          <option>Hà nội</option>
                          <option>Hồ Chí Minh</option>
                        </select>
                    </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
          <button type="submit" class="btn btn-default pull-right" style="margin-left: 10px">Làm mới</button>
        <button type="submit" class="btn btn-primary pull-right" >Thêm mới</button>

      </div>
    </form>
  </div>

